.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

#dashboard {
  border: 1px solid black;
    width: 95%;
}

p {
  text-align: center;
}
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}